<header
  class="w-full flex items-center justify-between px-5 py-5 bg-white shadow border-b border-gray-200"
>
  <a routerLink="/" class="text-xl font-semibold text-black">CalinArt</a>
  <nav
    class="hidden items-center lg:flex gap-8 text-lg font-medium text-[#1F2937]"
  >
    <a routerLink="catalog" routerLinkActive="active_btn"  class="hover:text-primary"
      >Каталог</a
    >
    <a routerLink="education"       routerLinkActive="active_btn" class="hover:text-primary">Обучение</a>
    <a routerLink="partner"  routerLinkActive="active_btn"  class="hover:text-primary">Партнерам</a>
    <a routerLink="useful"  routerLinkActive="active_btn"  class="hover:text-primary">Полезно</a>
    <a routerLink="contact"  routerLinkActive="active_btn"   class="hover:text-primary">Контакты</a>
    <a routerLink="login"  routerLinkActive="active_btn"  class="hover:text-primary">
      <mat-icon class="">person</mat-icon>
    </a>
  </nav>
</header>
