<section class="max-w-4xl mx-auto px-6 py-12 ">
  <div class="mb-4">
    <a [routerLink]="['/useful']" class="text-sm text-gray-600 hover:underline flex items-center gap-1">
      ← Назад к новостям
    </a>
  </div>

  <h1 class="text-3xl font-bold text-gray-900 mb-4">
    Новые тренды в интерьерном дизайне 2025
  </h1>

  <div class="flex items-center text-sm text-gray-500 mb-6 space-x-2">
    <span>27.04.2025</span>
    <span>•</span>
    <span>Тренды и инновации</span>
  </div>

  <div class="bg-gray-100 h-80 flex items-center justify-center text-gray-400 rounded-lg text-sm mb-10">
    Главное фото статьи
  </div>

  <div class="text-gray-800 leading-relaxed space-y-4 text-base">
    <p>
      Исследуем самые актуальные тенденции в мире интерьерного дизайна. От экологичных материалов до инновационных технологий – всё, что нужно знать современному дизайнеру.
    </p>
  </div>
  <div>
    <h2 class="text-xl font-semibold text-gray-900 my-4">Экологичность и устойчивое развитие</h2>
    <p class="text-gray-700 mb-4">
      В 2025 году экологичность становится не просто трендом, а необходимостью. Дизайнеры все чаще обращаются к натуральным материалам и устойчивым практикам производства.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="bg-gray-100 h-48 rounded flex items-center justify-center text-gray-500">Фото 1</div>
      <div class="bg-gray-100 h-48 rounded flex items-center justify-center text-gray-500">Фото 2</div>
    </div>
  </div>

  <div>
    <h2 class="text-xl font-semibold  text-gray-900 my-4">Технологии в интерьере</h2>
    <p class="text-gray-700 mb-4">
      Интеграция умных технологий в интерьер становится все более seamless. Системы управления освещением, климатом и безопасностью органично вписываются в дизайн.
    </p>
    <div class="bg-gray-100 h-64 rounded flex items-center justify-center text-gray-500">
      Видео демонстрация
    </div>
  </div>

  <div>
    <h2 class="text-xl font-semibold text-gray-900 my-4">Новые материалы и текстуры</h2>
    <p class="text-gray-700">
      Инновационные материалы открывают новые возможности для создания уникальных интерьеров. Особое внимание уделяется тактильным ощущениям и визуальным эффектам.
    </p>
  </div>
</section>
